[Unit]
Description=ripping cluster client
After=network.target

[Service]
User=root
WorkingDirectory=/mnt/chip
ExecStartPre=[ -d /mnt/chip/tools ] || sshfs /mnt/chip/ chip@alexandria.wuvt.vt.edu:/tank/archive/rips/chip -o IdentityFile=/root/.ssh/saya-whoreslayer-node
ExecStart=/usr/bin/python3 /mnt/chip/client/client.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target